USE [master]
GO
/****** Object:  Database [Aerolinea]    Script Date: 20/02/2023 16:17:51 ******/
CREATE DATABASE [Aerolinea]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aerolinea', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Aerolinea.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aerolinea_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Aerolinea_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aerolinea].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aerolinea]
GO
/****** Object:  Table [dbo].[Aviones]    Script Date: 20/02/2023 16:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aviones](
	[IDAvion] [int] IDENTITY(1,1) NOT NULL,
	[IDtipoAvion] [int] NOT NULL,
	[IDpiloto] [int] NOT NULL,
 CONSTRAINT [PK_Aviones] PRIMARY KEY CLUSTERED 
(
	[IDAvion] ASC,
	[IDtipoAvion] ASC,
	[IDpiloto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Aviones] UNIQUE NONCLUSTERED 
(
	[IDAvion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 20/02/2023 16:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[IDdireccion] [int] IDENTITY(1,1) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Direccion] PRIMARY KEY CLUSTERED 
(
	[IDdireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pasajeros]    Script Date: 20/02/2023 16:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajeros](
	[IDpasajero] [int] IDENTITY(1,1) NOT NULL,
	[Pasaporte] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[IDvuelo] [int] NOT NULL,
 CONSTRAINT [PK_Pasajeros] PRIMARY KEY CLUSTERED 
(
	[IDpasajero] ASC,
	[IDvuelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilotos]    Script Date: 20/02/2023 16:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilotos](
	[IDpiloto] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [int] NOT NULL,
	[NombrePiloto] [varchar](50) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[IDtelefono] [int] NOT NULL,
	[IDdireccion] [int] NOT NULL,
 CONSTRAINT [PK_Pilotos] PRIMARY KEY CLUSTERED 
(
	[IDpiloto] ASC,
	[IDtelefono] ASC,
	[IDdireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Pilotos] UNIQUE NONCLUSTERED 
(
	[IDpiloto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 20/02/2023 16:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono](
	[IDtelefono] [int] IDENTITY(1,1) NOT NULL,
	[telefono] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Telefono] PRIMARY KEY CLUSTERED 
(
	[IDtelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAviones]    Script Date: 20/02/2023 16:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAviones](
	[IDtipoAvion] [int] IDENTITY(1,1) NOT NULL,
	[TipoAvion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TipoAviones] PRIMARY KEY CLUSTERED 
(
	[IDtipoAvion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vuelos]    Script Date: 20/02/2023 16:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vuelos](
	[IDvuelo] [int] IDENTITY(1,1) NOT NULL,
	[HorasVuelo] [time](7) NOT NULL,
	[Estatus] [char](1) NOT NULL,
	[Origen] [varchar](50) NOT NULL,
	[Destino] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IDAvion] [int] NOT NULL,
	[IDpiloto] [int] NOT NULL,
 CONSTRAINT [PK_Vuelos] PRIMARY KEY CLUSTERED 
(
	[IDvuelo] ASC,
	[IDAvion] ASC,
	[IDpiloto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Vuelos] UNIQUE NONCLUSTERED 
(
	[IDvuelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aviones]  WITH CHECK ADD  CONSTRAINT [FK_Aviones_TipoAviones] FOREIGN KEY([IDtipoAvion])
REFERENCES [dbo].[TipoAviones] ([IDtipoAvion])
GO
ALTER TABLE [dbo].[Aviones] CHECK CONSTRAINT [FK_Aviones_TipoAviones]
GO
ALTER TABLE [dbo].[Pasajeros]  WITH CHECK ADD  CONSTRAINT [FK_Pasajeros_Vuelos] FOREIGN KEY([IDvuelo])
REFERENCES [dbo].[Vuelos] ([IDvuelo])
GO
ALTER TABLE [dbo].[Pasajeros] CHECK CONSTRAINT [FK_Pasajeros_Vuelos]
GO
ALTER TABLE [dbo].[Pilotos]  WITH CHECK ADD  CONSTRAINT [FK_Pilotos_Direccion] FOREIGN KEY([IDdireccion])
REFERENCES [dbo].[Direccion] ([IDdireccion])
GO
ALTER TABLE [dbo].[Pilotos] CHECK CONSTRAINT [FK_Pilotos_Direccion]
GO
ALTER TABLE [dbo].[Pilotos]  WITH CHECK ADD  CONSTRAINT [FK_Pilotos_Telefono] FOREIGN KEY([IDtelefono])
REFERENCES [dbo].[Telefono] ([IDtelefono])
GO
ALTER TABLE [dbo].[Pilotos] CHECK CONSTRAINT [FK_Pilotos_Telefono]
GO
ALTER TABLE [dbo].[Vuelos]  WITH CHECK ADD  CONSTRAINT [FK_Vuelos_Aviones] FOREIGN KEY([IDAvion])
REFERENCES [dbo].[Aviones] ([IDAvion])
GO
ALTER TABLE [dbo].[Vuelos] CHECK CONSTRAINT [FK_Vuelos_Aviones]
GO
ALTER TABLE [dbo].[Vuelos]  WITH CHECK ADD  CONSTRAINT [FK_Vuelos_Pilotos] FOREIGN KEY([IDpiloto])
REFERENCES [dbo].[Pilotos] ([IDpiloto])
GO
ALTER TABLE [dbo].[Vuelos] CHECK CONSTRAINT [FK_Vuelos_Pilotos]
GO
USE [master]
GO
